<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" type="text/css" />
    <title>Day14</title>
  </head>
  <body>
    <header>
      <div class="header-left">
        <span>edyoda</span>
      </div>
      <div class="header-right">
        <span>
          EdYoda is free learning and knowledge sharing platform for techies
        </span>
        <button class="header-btn">Go to Main Website</button>
      </div>
    </header>
    <main>
      <section class="container"></section>
    </main>
    <div id="footer-sticker">
      <div class="left-triangle"></div>
    </div>
    <script src="./script.js" type="text/javascript"></script>
  </body>
</html>
