.card {
  background-color: salmon;
  color: white;
  padding: 10px;
  margin: 25px 20px;
  box-shadow: 4px 6px 3px #ccc;
  border-radius: 4px;
}

.footer {
  background-color: darkslategrey;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 720px) {
  .footer {
    background-color: orange;
  }
}
