* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  padding: 10px 24px;
  display: flex;
  box-shadow: 8px 0px 2px #ccc;
  position: sticky;
  align-items: center;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-logo {
  height: 40px;
  width: 40px;
}

.header-logo img {
  width: 100%;
  height: 100%;
}
.header-title {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  color: blueviolet;
}

.login-wrapper {
  background-image: url("https://wallpaperaccess.com/full/327135.jpg");
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.form {
  background-color: whitesmoke;
  padding: 14px;
  border-radius: 6px;
  box-shadow: 10px 10px 10px #ccc;
  min-width: 260px;
}

.input-box {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.input-box label {
  margin-bottom: 4px;
}
.input-box input {
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.input-box input:focus {
  outline: 1px solid blueviolet;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.btn-wrapper .btn {
  padding: 8px 24px;

  text-align: center;
  width: 75%;
  border: none;
  border-radius: 4px;
  background-color: darkorchid;
  color: white;
  box-shadow: 2px 4px 4px #ccc;
  cursor: pointer;
}
.btn-wrapper .btn:focus {
  outline: 1px solid darkorchid;
}

.error {
  color: red;
  margin: 4px 0px;
  font-size: 12px;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.footer {
  background-color: black;
  color: white;
  padding: 10px 24px;
  text-align: center;
}
